
header {
    box-sizing: border-box;
    width: 100vw;
    height: 20vh;
    background-color: beige ;
}

.container {
    display: flex;
    width: 80%;
    background-color: lightgreen;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 100vw;
}
.question-box {
    display: grid;
    background-color: grey;
    grid-template-columns: auto auto;
    height: 300px;
    width: 250px;
    gap: 20px;
}
.btn {
    box-sizing: border-box;
}