header {
  box-sizing: border-box;
  width: 100vw;
  height: 20vh;
  background-color: beige;
}

#quiz {
  display: flex;
  width: 80%;
  background-color: burlywood;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 100vw;
}

h2 {
background-color: lightcoral;
border-radius: 10px;
}

.answer {
  display: flex;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background-color: lightgreen;
  color: black;
  margin: 20px;
  align-items: center;
}

#time {
  background-color: crimson;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
}

button {
  box-sizing: border-box;
  margin: 20px;
}

.submit-btn {
  background-color: blue;
  width:15px;
  height: 15px;
}

.score {
  display: flex;
  box-sizing: border-box;
  background-color: aqua;
  border-radius: 10px;
  justify-content: center;
  width: 50px;
}

.name-submit-btn {
  background-color: blue;
  color: white;
}

.hide {
  display: none;
}
